.editPost {
    display: grid;
    width: max-content;
    justify-self: center;
    justify-items: center;

    button {
        width: fit-content;
        margin-top: 10px;
    }
}

.postListItem {
    border: 1px solid #c4c4c4;
    padding: 5px;
    list-style-type: none;
}